<html>

<head>
  <style>
  </style>
</head>

<body>
  <p>Hola {{username}},</p>
  <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta.</p>
  <p>Si solicitaste restablecer tu contraseña haz click en el enlace de abajo.</p>
  <p>Si no hiciste esta solicitud, por favor, ignora este mensaje.</p>
  <a href="{{url}}{{token}}">Restablecer contraseña</a>
</body>

</html>